<!-- Loop over each object in the events array -->
{{#each events as |event| }}
<div class="row mb-4 event sr">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/event/{{event_id}}">{{event.name}}</a>
    </h2>
    <p>
      
      Meet up: <span class="volunteer-amount">{{format_date event.event_date}}</span> 
      
    </p>
    <p>Created by {{event.creator.username}} on {{format_date event.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{event.description}}
    </p>
  </div>
</div>
{{/each}}

<script src="https://unpkg.com/scrollreveal@4/dist/scrollreveal.min.js"></script>


<script>
  // Initialize ScrollReveal
  ScrollReveal().reveal('.sr', {
    distance: '50px',    // Distance the element moves in
    origin: 'bottom',    // Origin of the animation
    duration: 1000,      // Duration of the animation in milliseconds
    delay: 200,          // Delay before the animation starts in milliseconds
    easing: 'ease-out',  // Easing function
    interval: 200        // Delay between each element's animation in milliseconds
  });
</script>