<div class="row mb-4 event">
  <div class="card">
    <div class="card-body">
    <img src="{{get_emoji}}" class="card-img-top smaller-hero-img" alt="Hero Image">
      <h2 class="card-title">{{name}}</h2>

      <p class="card-text">{{description}}</p>
      <p class="card-text">Created by {{creator.username}} on {{format_date date_created}}</p>
      <p class="card-text">Organization: {{creator.organization}}</p>
      <p class="card-text">Organization URL: <a href="{{creator.organization_url}}">{{creator.organization_url}}</a></p>
      </p>
    
      {{#if is_organizer}}
        <a class="nav-link btn" aria-current="page" id="delete">delete event</a> 
      {{else}}
        <button class="btn btn-dark" data-id="{{event_id}}">Subscribe to event!</button>
      {{/if}}





      <!-- Display Previous Comments -->
      <div class="mt-4">
        <h4>What others are saying about this event:</h4>
        {{#each eventComments}}
          <div class="comment">
            <p><strong>Commenter:</strong> {{commenter}}</p>
            <p><strong>Comment:</strong> {{comment}}</p>
            <p><strong>Date Created:</strong> {{format_date date_created}}</p>
          </div>
        {{/each}}
      </div>

      <!-- Comment Form -->
      <form class="mt-4">
        <div class="form-group">
          <label for="comment">Leave a Comment:</label>
          <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/event.js"></script>
