<div class="row mb-4 event">
  <div class="card">
    <div class="card-body">
    <img src="{{get_emoji}}" class="card-img-top smaller-hero-img" style="width: 100%; height: 25%; object-fit: cover;" alt="Hero Image">
      <h2 class="card-title">{{name}}</h2>

      <p class="card-text">{{description}}</p>
      <p class="card-text">Created by {{creator.username}} on {{format_date date_created}}</p>
      <p class="card-text">Organization: {{creator.organization}}</p>
      <p class="card-text">Organization URL: <a href="{{creator.organization_url}}">{{creator.organization_url}}</a></p>
    
      {{#if logged_in}}
        {{#unless is_organizer}}
          <button class="btn btn-dark" data-id="{{event_id}}">Subscribe to event!</button>
        {{/unless}}
      {{/if}}


<hr /> 


      <!-- Display Comments -->
      <div class="mt-4">
        <h4>Comments:</h4>
        {{#each eventComments}}
          <div class="comment">
            <h5><strong> {{commenter}} </strong></h5>
            <p><strong>Comment:</strong> {{comment}}</p>
            <p>Date Created: {{format_date date_created}}</p>
          </div>
          <hr /> 
        {{/each}}
      </div>

    {{#if logged_in}}
      <!-- Comment Form -->
      <form class="mt-4 new-comment-form" data-event-id="{{event_id}}">
        <div class="form-group">
          <label for="comment">Leave a Comment:</label>
          <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    {{/if}}
    </div>
  </div>
</div>

<script src="/js/event.js"></script>
