<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>
<div class="col-md-6">
    <h2>Your Profile:</h2>
    <form class="form Edit-form">
      <div class="form-group">
        <label for="edit-username">username:</label>
        <input class="form-input" type="text" id="edit-username" />
      </div>
      {{#if is_organizer}}
      <div class="form-group">
        <label for="edit-organization">organization:</label>
        <input class="form-input" type="text" id="edit-organization" placeholder="{{organization}}" />
      </div>
      {{/if}}

      <div class="form-group">
        <label for="edit-email">email:</label>
        <input class="form-input" type="text" id="edit-email" />
      </div>
      <div class="form-group">
        <label for="edit-password">password:</label>
        <input class="form-input" type="password" id="edit-password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>

{{#if is_organizer}}
<div class="row mt-4">

  <h3>Create a New Event:</h3>

  <form class="form new-event-form">
    <div class="form-group">
      <label for="event-name">Event name:</label>
      <input class="form-input" type="text" id="event-name" name="event-name" />
    </div>
    <div class="form-group">
      <label for="event-desc">Event description:</label>
      <textarea class="form-input" id="event-desc" name="event-desc"></textarea>
    </div>
    <div class="form-group">
      <label for="event-date">Event date:</label>
      <input class="form-input" type="date" id="event-date" name="event-date" />
    </div>
    <div class="form-group">  
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
{{/if}}


{{#if events.length}}
<div class="row mt-4">
  <div class="col-md-6 event-list">
    <h3>Current Events:</h3>

    {{#each events as |event|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/event/{{event.event_id}}">{{event.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{event.event_id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/if}}

<script src="./js/profile.js"></script>
